In [1]:
import pandas as pd
df_activities=pd.read_csv("C:/Users/HP/Downloads/cardioactivities/datasets/cardioActivities.csv",parse_dates=True,index_col="Date")
cols_to_drop=df_activities.drop(["Notes","Route Name","Friend's Tagged"],axis=1,inplace=True)

In [2]:
df_run=df_activities.loc[df_activities['Type'] == 'Running'].copy()
df_cycle=df_activities.loc[df_activities['Type'] == 'Cycling'].copy()
# creating the walk dataframe
df_walk = df_activities[df_activities["Type"]=="Walking"].copy()
df_walk["Average Heart Rate (bpm)"].fillna(110,inplace=True)
print(df_walk.isnull().sum())

Activity Id                 0
Type                        0
Distance (km)               0
Duration                    0
Average Pace                0
Average Speed (km/h)        0
Calories Burned             0
Climb (m)                   0
Average Heart Rate (bpm)    0
GPX File                    0
dtype: int64

In [3]:
df_run_walk_cycle=df_run.append([df_cycle,df_walk]).sort_index(ascending=False)

In [4]:
dist_climb_cols, speed_col = ["Distance (km)","Climb (m)"],["Average Heart Rate (bpm)"]
df_totals = df_run_walk_cycle.groupby("Type")[dist_climb_cols].sum()
display(df_totals)

         Distance (km)  Climb (m)
Type
Cycling         680.58       6976
Running        5224.50      57278
Walking          33.45        349

In [5]:
df_summary = df_run_walk_cycle.groupby("Type")[dist_climb_cols + speed_col].describe()

In [6]:
df_summary

        Distance (km)                                                       \
                count       mean       std    min     25%     50%      75%
Type
Cycling          29.0  23.468276  9.451040  11.41  15.530  20.300  29.4000
Running         459.0  11.382353  4.937853   0.76   7.415  10.810  13.1900
Walking          18.0   1.858333  0.880055   1.22   1.385   1.485   1.7875

               Climb (m)              ...                \
           max     count        mean  ...    75%    max
Type                                  ...
Cycling  49.18      29.0  240.551724  ...  318.0  553.0
Running  38.32     459.0  124.788671  ...  171.0  982.0
Walking   4.29      18.0   19.388889  ...   15.5  112.0

        Average Heart Rate (bpm)                                             \
                           count       mean        std    min    25%    50%
Type
Cycling                     15.0  124.40000  14.874715   79.0  122.0  125.0
Running                    277.0  144.98556   7.794448  113.0  141.0  145.0
Walking                     18.0  110.00000   0.000000  110.0  110.0  110.0


           75%    max
Type
Cycling  134.5  138.0
Running  149.0  172.0
Walking  110.0  110.0

[3 rows x 24 columns]

In [7]:
for i in dist_climb_cols:
  df_summary[i, "total"] = df_totals[i]
print("Total Statistics")
df_summary.stack()

Total Statistics

               Average Heart Rate (bpm)     Climb (m)  Distance (km)
Type
Cycling 25%                  122.000000    139.000000      15.530000
        50%                  125.000000    199.000000      20.300000
        75%                  134.500000    318.000000      29.400000
        count                 15.000000     29.000000      29.000000
        max                  138.000000    553.000000      49.180000
        mean                 124.400000    240.551724      23.468276
        min                   79.000000     58.000000      11.410000
        std                   14.874715    128.960289       9.451040
        total                       NaN   6976.000000     680.580000
Running 25%                  141.000000     54.000000       7.415000
        50%                  145.000000     91.000000      10.810000
        75%                  149.000000    171.000000      13.190000
        count                277.000000    459.000000     459.000000
        max                  172.000000    982.000000      38.320000
        mean                 144.985560    124.788671      11.382353
        min                  113.000000      0.000000       0.760000
        std                    7.794448    103.382177       4.937853
        total                       NaN  57278.000000    5224.500000
Walking 25%                  110.000000      7.000000       1.385000
        50%                  110.000000     10.000000       1.485000
        75%                  110.000000     15.500000       1.787500
        count                 18.000000     18.000000      18.000000
        max                  110.000000    112.000000       4.290000
        mean                 110.000000     19.388889       1.858333
        min                  110.000000      5.000000       1.220000
        std                    0.000000     27.110100       0.880055
        total                       NaN    349.000000      33.450000